<!DOCTYPE html>
<html>
	<head>
		<title>Dragon Age CC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container-fluid pT60 visible-desktop"></div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3"></div>
				<div class="span9">
					<div class="page-header">
						<h1>Dragon Age CC</h1>
					</div>
					<div class="_characterList"></div>
					<div class="_character">
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container-fluid">
				<p>&copy</p>
			</div>
		</footer>
		<script>
			var DragonAgeCC = {};  //Namespace
		</script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/db.js" type="application/javascript"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/async.js"></script>
		<script src="/js/handlebars.runtime.js"></script>
		<script src="/js/underscore.js"></script>
		<script src="/js/backbone.js"></script>
		<script src="/js/Backbone.Syphon.js"></script>
		<script src="/js/templates.js"></script>
		<script src="/js/CharacterView.js"></script>
		<script src="/js/CharacterModel.js"></script>
		<script src="/js/CharacterListView.js"></script>
		<script src="/js/CharacterCollection.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>